<form class="auth-form__container" [formGroup]="authForm()" (ngSubmit)="onSubmit()">
  <div class="auth-form__title">
    <h3>{{ title() }}</h3>
    <hr>
  </div>

  <div class="auth-form__info">
    @for (item of fields(); track item.id) {
      <app-auth-form-field
        [field]="item"
        [control]="authForm().controls[item.id]"
        [passwordMismatch]="
          item.id === 'confirmPassword' &&
          authForm().hasError('passwordsMismatch') &&
          authForm().controls['confirmPassword'].touched
      "/>
    }
  </div>

  <button type="submit" class="app-btn" [disabled]="authForm().invalid">{{ title() }}</button>
</form>
