:host {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
}

.dashboard-deadlines-status__container {
  display: flex;
  flex-direction: row;
  column-gap: var(--spacing-md);
}
